<div id='combat-box' ng-controller='comb-con' style='background:url("./img{{intTarg.imgUrl}}"); background-size: cover;'>
    <div id='enemy' class='char-box' ng-class='{"char-turn":comb.playersTurn==false}'>
        <div class='charPort'></div>
        <div class='charStats'>
            <div class='col-md-12 health-bar'>
                <div class='stat-bar-bg'>
                    <div class='stat-bar-inner'>
                        <div class='stat-bar-stat' style='width:{{100*($parent.intTarg.currHp/$parent.intTarg.hp)}}%;'>
                        </div>
                        <span class='hb-stats-ind' ng-show='currMRegens.length'>&#9650;</span><span class='hb-stats-ind' ng-show='currMDegens.length'>&#9660;</span>
                    </div>
                </div>
            </div>
        </div>
        <div class='charChoice'>
        </div>
    </div>
    <div id='player' class='char-box' ng-class='{"char-turn":comb.playersTurn}'>
        <div class='charPort'></div>
        <div class='charStats'>
            <div class='col-md-12 health-bar'>
                <div class='stat-bar-bg'>
                    <div class='stat-bar-inner'>
                        <div class='stat-bar-stat' style='width:{{100*(currHp/maxHp)}}%;'>
                        </div>
                        <span class='hb-stats-ind' ng-show='currPRegens.length'>&#9650;</span><span class='hb-stats-ind' ng-show='currPDegens.length'>&#9660;</span>
                    </div>
                </div>
            </div>
            <div class='col-md-12 energy-bar'>
                <div class='stat-bar-bg'>
                    <div class='stat-bar-inner'>
                        <div class='stat-bar-stat' style='width:{{100*(currEn/maxEn)}}%;'></div>
                    </div>
                </div>
            </div>
        </div>
        <div class='charChoice'>
            <div class='col-md-11'>
                <div class='col-md-3'>
                    <button ng-disabled='comb.playersTurn==false' class='btn btn-success choiceBut change-dwn-butt' ng-click='comb.skillCh(0)'>&leftarrow;</button>
                </div>
                <div class='col-md-6 the-skill' ng-click='comb.showSkillInf();'>
                    <h4>{{fullSkills[currSkillNum].name}}</h4>
                    <img src='{{fullSkills[currSkillNum].imgUrl}}'>
                </div>
                <div class='col-md-3'>
                    <button ng-disabled='comb.playersTurn==false' class='btn btn-success choiceBut change-up-butt' ng-click='comb.skillCh(1)'>&rightarrow;</button>
                </div>
            </div>
            <div class='col-md-11'>
                <button ng-disabled='comb.playersTurn==false' class='btn btn-success choiceBut attack-butt' ng-click='comb.attack();'>Attack!</button>
            </div>
            <div class='col-md-11'>
                <button ng-disabled='comb.playersTurn==false' class='btn btn-success choiceBut wait-butt' ng-click='comb.wait();'>Wait!</button>
            </div>
            <div class='col-md-11'>
                <button ng-disabled='comb.playersTurn==false' class='btn btn-success choiceBut run-away-butt' ng-click='comb.attemptFlee();'>Flee!</button>
            </div>
        </div>
    </div>
    <div class='pre-battle'>
        <h2>Oh no! It's a {{intTarg.name}}</h2>
        <button class='btn btn-danger' ng-click='comb.prepComb()'>Fight!</button>
    </div>
    <div id='battleStatus' ng-show='comb.battleStatus.status' class='panel panel-info' style='background:url("{{comb.battleStatus.url}}"); background-size: cover;'>
        <div class='panel-heading'>
            <h3>{{comb.battleStatus.title}}</h3></div>
        <div class='panel-body'>
            <div id='battle-result'>
                {{comb.battleStatus.txt}}
            </div>
            <hr/>
            <button class='btn btn-default' ng-click='comb.acceptStatus();'>{{comb.battleStatus.btn}}!</button>
        </div>
    </div>
</div>
