<!DOCTYPE html>
<html>

<head>
    <title>Maze!</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body ng-app='mazeGame' ng-controller='maze-con' ng-cloak>
    <div id='menu' class='panel panel-default' ng-show='setActive'>
        <div class='panel-heading'>
            Settings
        </div>
        <div class='panel-body'>
            <!-- I'm eventually going to remove this panel, since it is basically dev features -->
            <h4>WASD/arrow keys to move. 'b' to activate bombs (blow thru a wall!).</h4> &#128163;:{{bombsLeft}}
            <br/> Width:
            <input type='number' min='2' max='40' ng-model='width' value='5' ng-change='cells=[]'> Height:
            <input type='number' min='2' max='40' ng-model='height' value='5' ng-change='cells=[]'>
            <br/>Turn Speed:
            <input type='range' min='1' max='10' ng-model='turnSpeed'>
            <hr/>
            <button ng-click='makeMaze()'>Generate</button>
        </div>
    </div>
    <div id='uiloader' ng-show='invActive'>
        <div ng-include="'UI.html'" style='width:100%;height:100%;'></div>
    </div>
    <div id='maze' style='width:{{width*50}}px; height:{{height*50}}px;transform:rotateZ({{roomRot}}deg) translateZ(180px) scale3d(.5,.5,.5);'>
        <!-- This is the maze 'icon' that we use for navigation. 3D! -->
        <div class='cell' ng-repeat='cl in cells' style='left:{{cl.x*50}}px;top:{{cl.y*50}}px;' ng-class='{"nWall":cl.north,"sWall":cl.south,"eWall":cl.east,"wWall":cl.west,"usr":compareCell(cl.id),"daBomb":compareCell(cl.id) && bombOn}' title='{{cl.x}}:{{cl.y}}'>
            <div class='outWall norWall' ng-if='cl.north'></div>
            <div class='outWall easWall' ng-if='cl.east'></div>
            <div class='outWall souWall' ng-if='cl.south'></div>
            <div class='outWall wesWall' ng-if='cl.west'></div>
            <div class='playerFig' ng-if='compareCell(cl.id)' style='transform:rotateZ({{360-roomRot}}deg)'>&uparrow;</div>
        </div>
    </div>
    <div id='room' style='transform:rotateX({{vertRot}}deg) translateY(320px) translateX(250px) rotateZ({{roomRot}}deg) translateZ(-320px); background:url({{isExit()}});background-size:contain;'>
        <!-- the actual room in which we 'play' -->
        <div class='roomWall rwn' ng-style='{"background":"url("+getWallStatus("north")+")"}' ng-click='noMove($event)'></div>
        <div class='roomWall rwe' ng-style='{"background":"url("+getWallStatus("east")+")"}' ng-click='noMove($event)'></div>
        <div class='roomWall rws' ng-style='{"background":"url("+getWallStatus("south")+")"}' ng-click='noMove($event)'></div>
        <div class='roomWall rww' ng-style='{"background":"url("+getWallStatus("west")+")"}' ng-click='noMove($event)'></div>
        <div id='roomTop'></div>
        <div id='rampBase' ng-if="isExit()=='./img/exit.png'" ng-click='levelDown();'>
            <div id='rampLeft' class='rampPiece'></div>
            <div id='rampRight' class='rampPiece'></div>
            <div id='ramp' class='rampPiece'></div>
        </div>
    </div>
    <div id='targ' ng-show='intTarg'>
        <!-- eventually gonna replace this with something a little more interesting. -->
        A {{intTarg.name}} appears, with a min of {{intTarg.min}} and a max of {{intTarg.max}} damage. It does {{dmgType(intTarg.type)}} damage! It has resistance to <span ng-repeat='r in intTarg.res'>{{dmgType(r)}}</span>
        <hr/>Description: {{intTarg.desc}}
    </div>
    <div id='bom' ng-show='bombOn'>
        <div id='fuse'><span>{{bombsLeft}}</span></div>
    </div>
    <script src='/socket.io-client/socket.io.js'></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/jquery-ui/jquery-ui.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/angular/angular.min.js"></script>
    <script src="/angular-bootstrap-contextmenu/contextMenu.js"></script>
    <script src="/bootbox.js/bootbox.js"></script>
    <!-- Because of gulp, we can include just one, minified file!: -->
    <script src="/js/all.min.js"></script>
</body>

</html>
